.page {
  // padding-top: 8%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// body {
//   background-image: url('../img/bg.png');
//   background-size: contain;
//   background-repeat: no-repeat;
// }