.events {
  list-style: none;
  display: grid;
  grid-gap: $spacer;
  grid-template-columns: 1fr;
  margin: 0 auto;

  @include breakpoint(400px) {
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  }

}

.events-filters {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: $spacer * 2;

  .search-all,
  .search-day {
    background-color: $white;
    padding: $spacer / 2;
    margin: $spacer / 2;
    flex: 0 1 350px;

    label {
      font-size: font-size('small');
      font-weight: bold;
      text-transform: uppercase;
      color: $gray-600;
    }

    input,
    select {
      width: 100%;
      color: $gray-800;
      border-color: $gray-100;

      &::placeholder {
        color: $gray-800;
      }

      &:hover,
      &:focus {
        color: $gray-800;
        border-color: $gray-800;
      }
    }
  }

  .search-tags {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: $spacer;

    label {
      background-color: $primary-800;
      padding: $spacer / 6 $spacer / 2;
      margin: $spacer / 6;
      color: $white;
      text-transform: uppercase;
      font-weight: bold;
      font-size: font-size('small');
      transition: transform 0.25s ease-out,
                  box-shadow 0.25s ease-out;
      box-shadow: 0px 0px 0px 0px $secondary;
      cursor:pointer;

      &:hover {
        background-color: $primary;
        transform: translate(-2px, -2px);
        box-shadow: 4px 4px 0px 0px $secondary;
      }
    }

    input {
      @include hidden();

      &:checked + label {
        background-color: $primary;
      }
    }
  }


}

.event {
  background-color: $white;
  transition: transform 0.25s ease-out,
              box-shadow 0.25s ease-out;
  
  &:hover {
    border-color: $primary;
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0px 0px $secondary;
    
    
    .event__image {
      opacity: 1;
    }
  }
  
  &__image {
    opacity: 0.4;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -$spacer / 4;
    margin-right: -$spacer / 4;
    margin-left: -$spacer / 4;

    .tag {
      margin: $spacer / 4;
    }
  }
  
  &__title {
    @include font-size('h3', 'h4', $small);
    margin: -$spacer * 2 -$spacer/2 0 -$spacer/2;
    font-family: $font-main;
    line-height: 1.1 !important;
    margin-bottom: $spacer / 2;
    font-weight: bold;
    text-transform: uppercase;
    color: $gray-700;
    background-color: $white;
    padding: $spacer / 1.5 $spacer / 2 0 $spacer / 2;
    max-width: 300px;
  }
  
  &__place {
    border-top: 1px dashed $primary-200;
    padding-top: $spacer / 2;
    font-size: font-size('small');
    line-height: 1.33;
    font-weight: bold;
    color: $gray-600;
  }
  
  &__metadata {
    padding-top: $spacer / 2;
    border-top: 1px solid $gray-100;
    color: $gray-800;
    line-height: 1.3;
  }
  
  &__organizer {
    font-size: font-size('small');
    margin-bottom: $spacer / 2;
  }
  
  &__description {
    margin-top: $spacer;
    margin-bottom: $spacer;
  }
  
  &__tag {
    background-color: $primary;
    color: $white;
    border-radius: 6px;
    font-weight: bold;
    line-height: 2;
    text-transform: uppercase;
  }

}
