@font-face {
  font-family: 'Weasterne';
  src: url('../fonts/Weasterne.woff2') format('woff2'),
      url('../fonts/Weasterne.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;700&display=swap');