@font-face {
  font-family: 'Weasterne';
  src: url('../fonts/Weasterne.woff2') format('woff2'),
      url('../fonts/Weasterne.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}